{% extends "../base.html" %}

{% block content %}

<div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">Login
        </h1>
  
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">Home</a>
          </li>
          <li class="breadcrumb-item active">Login</li>
        </ol>
  
  
    <link rel="stylesheet" href="/static/css/login-style.css" />
  
    <div id="infoMessage"></div>
  
        <!-- Intro Content -->
        <div class="row">
          <div class="col-lg-8">
            <p>To provide better security, we use the following options to log into Duckiehunt:</p>
            <div id="auth_wrapper">
              <div id="auth_container">
                <div id="login_container">
                  <div id="social_login">
                    <a class="gg_login" href="{% url 'social:begin' 'google-oauth2' %}">Google</a>
                    <a class="fb_login" href="{% url 'social:begin' 'facebook' %}">Facebook</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->
  
  </div>
  

{% endblock %}
