{% extends "../base.html" %}

{% block content %}



    <!-- Page Content -->
    <div class="container">
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">Mark a Duck</h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class='breadcrumb-item active'>Mark a duck</li>
        </ol>

        <div class="row">
            <div class="col-lg-12">
                <form enctype="multipart/form-data" action="/mark/" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {{ form.lat.as_hidden }}
                    {{ form.lng.as_hidden }}

                    <dl class="row">
                        <dt class="col-sm-2">
                            <label for="{{ form.duck_id.id_for_label }}">Duck #:</label>
                        </dt>
                        <dd class="col-sm-10">
                            {{ form.duck_id.errors }}
                            {{ form.duck_id }}
                        </dd>

                        {{ form.name.errors }}
                        <dt class="col-sm-2">
                            <label for="{{ form.name.id_for_label }}">Name:</label>
                        </dt>
                        <dd class="col-sm-10">
                            {{ form.name }}
                            <div id='name_notification'></div>
                        </dd>

                        {{ form.location.errors }}
                        <dt class="col-sm-2">
                            <label for="{{ form.location.id_for_label }}">Location:</label>
                        </dt>
                        <dd class="col-sm-10">
{% if form.lat.errors or form.lng.errors %}
                        Unable to find Lat/Long for the location.  Please try again.<br/>{% endif %}
                            {{ form.location }}
                        </dd>

                        <dt class="col-sm-2">Map:</dt>
                        <dd class="col-sm-10"><div id="map"></div></dd>

                        <dt class="col-sm-2">
                            <label for="{{ form.date_time.id_for_label }}">Date/Time:<br />(e.g. MM/DD/YYYY HH:MM)</label>
                        </dt>
                        <dd class="col-sm-10">
                            {{ form.date_time }} <a href='https://en.wikipedia.org/wiki/Coordinated_Universal_Time'>UTC Timezone</a>
                            {{ form.date_time.errors }}
                        </dd>

                        <dt class="col-sm-2">
                            <label for="{{ form.image.id_for_label }}">Upload an image:</label>
                        </dt>
                        <dd class="col-sm-10">
                            {{ form.image}}
                            {{ form.image.errors }}
                        </dd>

                        <dt class="col-sm-2">
                            <label for="{{ form.comments.id_for_label }}">Comments/Story:</label>
                        </dt>
                        <dd class="col-sm-10">
                            {{ form.comments }}
                            {{ form.comments.errors }}
                        </dd>

                        <dt class="col-sm-2">&nbsp;</dt>
                        <dd class="col-sm-10"><input type='submit' name="submit" value='Submit the new location'></dd>

                    </dl>

                </form>
            </div>
        </div>
    </div>

    <style>
        #map {
            width: 80%;
            height: 400px;
            background-color: grey;
            color: #000;
        }
    </style>

    <script>
        $( "#id_name" ).prop( "disabled", true);
        $('#id_duck_id').focusout(() => checkDuckName());

        function checkDuckName() {
            var duck_id = $('#id_duck_id').get(0).value;
            console.log('checkDuckName()::duck_id=' + duck_id);
            if (!parseInt(duck_id) || 1 >= parseInt(duck_id)) {
                return;
            }
            var get_duck_url = '/api/duck/' + duck_id;
            $.get(get_duck_url, (result) => {
                var duck_name = result[0].fields.name;
                console.log('Found duck name:' + duck_name);
                if (!duck_name || duck_name == 'Undefined' || duck_name == 'Unnamed') {
                    enableDuckName();
                } else {
                    disableDuckName(duck_name);
                }
            }).fail((result) => {
                if (result.status == 404) {
                    enableDuckName()
                }
            });
        }

        function enableDuckName() {
            console.log('Enable duck name!');
            $('#id_name').prop('disabled', false);
            $('#id_name').val('');
            $('#name_notification').text('This Duck does not have a name yet!  Please be creative, not dirty.');
        }
        function disableDuckName(duck_name) {
            console.log('Disable duck name!');
            $('#id_name').prop('disabled', true);
            $('#id_name').val(duck_name);
            $('#name_notification').text('');
        }

        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 1,
                center: { lat: 35, lng: -30 }
            });

            // Map auto-center and focus on location
            $('#id_location').focusout(() => {
                console.log('fetching location');
                var location = $('#id_location').get(0).value;
                var key = 'AIzaSyDXHyk9hmL302x8fjkpEbw5kVI0hjxsaos';
                var url = 'https://maps.googleapis.com/maps/api/geocode/json?address=' + location + '&key=' + key;
                $.get(url, (result) => {
                    if (result.results.length === 0 || result.status !== "OK") {
                        alert('Invalid location.  Please try again.');
                    } else {
                        var position = {
                            lat: result.results[0].geometry.location.lat,
                            lng: result.results[0].geometry.location.lng
                        };
                        $('#id_lat')[0].value = position.lat;
                        $('#id_lng')[0].value = position.lng;

                        map.setCenter(position);
                        map.setZoom(7);
                        var marker = new google.maps.Marker({ position: position, map: map, icon: '/static/icons/duck-32x32.png' });
                    }
                });
            });
        }

        // After invalid form, re-check the name
        checkDuckName();
    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXHyk9hmL302x8fjkpEbw5kVI0hjxsaos&callback=initMap">
    </script>

{% endblock %}
