            <!-- Page Heading/Breadcrumbs -->
            <h1 class="mt-4 mb-3">View Phippy or Friend
            </h1>
      
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/">Home</a>
              </li>
              <li class='breadcrumb-item'><a href='/toy'>Phippy or Friend</a></li>
              <li class='breadcrumb-item'>
                    <select onChange="javascript:redirectToToy(this)">
                      <option value=""></option>
{% for toy_d in toy_list %}
                      <option value="{{ toy_d.id }}"{% if toy_d.id == toy.id %} selected{% endif %}>{{ toy_d.name|default:"Unnamed" }}</option>{% endfor %}
                    </select>
              </li>
{% if toy_location_list %}
              <li class='breadcrumb-item'>
                    <select onChange="javascript:redirectToToyLocation(this)">
                      <option value=""></option>
{% for toy_l in toy_location_list %}
                      <option value="{{ toy_l.toy_location_id }}" {% if toy_l.toy_location_id == map.toy_location_id %}selected{% endif %}>{{ toy_l.location }}</option>{% endfor %}
                    </select>
              </li>
{% endif %}
            </ol>
      
            <!-- /.row -->
<script type="text/javascript" language="JavaScript">
    function redirectToToy(obj)
    {
        var toy_id = obj[obj.selectedIndex].value;
        var URL = '/toy/' + toy_id;
        window.location.href = URL;
    }

    function redirectToToyLocation(obj)
    {
        var location_id = obj[obj.selectedIndex].value;
        var URL = '/location/' + location_id;
        window.location.href = URL;
    }
</script>