<style>
    #map {
      width: {{ map.width }}; 
      height: {{ map.height }};
      background-color: grey;
      color: #000;
    }
  </style>
   
   <script>
       var focus_lat={{ map.focus_lat }};
       var focus_long={{ map.focus_long }};
       var focus_zoom={{ map.focus_zoom }};
       var toy_location_id={{ map.toy_location_id }};
       var location_list={{ map.location_list|safe }};

       function initMap() {
           var map = new google.maps.Map(document.getElementById('map'), {
                zoom: focus_zoom,
                center: { lat: focus_lat, lng: focus_long }
           });
           var bounds = new google.maps.LatLngBounds();

           location_list.forEach((location, index) => {
               var position = new google.maps.LatLng( Number(location.fields.latitude), Number(location.fields.longitude) );
               var marker = new google.maps.Marker({ position: position, map: map, icon: '/static/icons/phippy-32x32.png' });
   
               if (!(focus_lat && focus_long)) {
                   bounds.extend(position);
               }
               var toy_id = Number.isInteger(location.fields.toy) ? location.fields.toy : location.fields.toy.toy_id;
               var toy_name = location.fields.toy.name ? ' (' + location.fields.toy.name + ')' : '';
               var toy_header = '<a href="/toy/' + toy_id + '">Toy #' + toy_id + toy_name + '</a>';
               var content = '<div id="content"><p>' + toy_header + '<br/>' + location.fields.comments + '</p></div>';
               var infoWindow = new google.maps.InfoWindow({ content: content });
               marker.addListener('click', () => { infoWindow.open(map, marker); });
               if (location.pk == toy_location_id) {
                   infoWindow.open(map, marker);
               }
           });
   
           if (!(focus_lat && focus_long)) {
               map.fitBounds(bounds);
               // https://stackoverflow.com/questions/2437683/google-maps-api-v3-can-i-setzoom-after-fitbounds
               var listener = google.maps.event.addListener(map, "idle", function() {
                   map.setZoom(focus_zoom);
                   google.maps.event.removeListener(listener);
               });
           }
   
       }
   </script>
   
   <script async defer
       src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAw5kNZ--847k0U8N8lG32Ej7ybB6LeLPM&callback=initMap">
   </script>

   