{% extends "../base.html" %}

{% block content %}

    <!-- Page Content -->
    <div class="container">

            <!-- Page Heading/Breadcrumbs -->
            <h1 class="mt-4 mb-3">FAQ
            </h1>
      
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/">Home</a>
              </li>
              <li class="breadcrumb-item active">FAQ</li>
            </ol>
      
            <div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="card">
                <div class="card-header" role="tab" id="headingTwo">
                  <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Where did this idea come from?
                    </a>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="card-body">
                      <p>This code and idea behind this was inspired by <a href='https://www.duckiehunt.com'>Duckiehunt</a>.  </p>
                      <p>My lovely wife and I were away on our honeymoon and our friends conspired a <a href='http://flickr.com/photos/nmlittle/tags/duckieinvation/'>huge rubber duckie invasion</a>.  We came back to <a href='http://flickr.com/photos/snoopykiss/sets/72157607146654923/'>1000+ duckies in the house</a>.  There were even <a href='http://flickr.com/photos/snoopykiss/2833050713'>~300 on the bed</a>.  Days later I went into work to find <a href='http://flickr.com/photos/snoopykiss/2833067647'>~200 more there</a>.  It was pretty absurd and hilarious.  We would expect nothing else from our friends.</p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingOne">
                  <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Why are you doing this?</a>
                  </h5>
                </div>
      
                <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="card-body">
                    With the donation of <a href='https://www.cncf.io/phippy/'>Phippy and Friends licensing to the CNCF</a>, and with my existing framework for tracking <a href='https://www.duckiehunt.com'>rubber ducks</a>, this seemed like a natural expansion.
                  </div>
                </div>
              </div>
      
          </div>
          <!-- /.container -->

{% endblock %}
