{% extends "../base.html" %}

{% block content %}

    <!-- Page Content -->
    <div class="container">

        {% include "./view/dropdown.html" %}

    <!-- Intro Content -->
    <h2>Location Info</h2>
    <div class="row">
      <div class="col-lg-12">

          <dl class="row">
              <dt class="col-sm-3">Name</dt>
              <dd class="col-sm-9" id="toy_name">{{ toy.name }}</dd>
                  <dt class="col-sm-3">Location</dt>
                  <dd class="col-sm-9">{{ toy_location.location }}</dd>

                  <dt class="col-sm-3">Comments</dt>
                  <dd class="col-sm-9">{{ toy_location.comments}}</dd>

                  <dt class="col-sm-3">Date/Time</dt>
                  <dd class="col-sm-9">{{ toy_location.date_time }}</dd>

                  <dt class="col-sm-3">Latitude</dt>
                  <dd class="col-sm-9">{{ toy_location.latitude|floatformat:-5 }}</dd>

                  <dt class="col-sm-3">Longitude</dt>
                  <dd class="col-sm-9">{{ toy_location.longitude|floatformat:-5 }}</dd>
{% if toy_links %}
                  <dt class="col-sm-3">Links</dt>
                  <dd class="col-sm-9">
{% for link in toy_links %}
                    <a href='{{ link }}'>{{ link }}</a>{% endfor %}
                  </dd>
{% endif %}
          </dl>
      </div>
    </div>
    <!-- /.row -->

{% include "./view/photos.html" %}
    <!-- Map -->
    <h2>Map</h2>
    <div class="row">
      <div class="col-lg-6">
          <div id='map'></div>
      </div>
    </div>
    <!-- /.row -->

</div>
<br />
        {% include "./view/map.html" %}

{% endblock %}
