{% extends "../base.html" %}

{% block content %}

<!-- Page Content -->
    <header>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item active">
                  <div id="map"></div>
                </div>
                <!-- Slide Two - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('https://farm1.staticflickr.com/850/29848655078_9d8afd1c5d_b_d.jpg')">
                <a href='https://www.flickr.com/photos/duckiehunt/29848655078/in/photostream/' target="_blank" >
                  <div class="carousel-caption d-none d-md-block" style='text-shadow: black 0.1em 0.1em 0.2em'>
                    <h3>Duck #42</h3>
                    <p><a href='/view/location/715'>Blue Lagoon, Iceland</a></p>
                  </div>
                </a>
                </div>
                <!-- Slide Three -->
                <div class="carousel-item" style="background-image: url('https://farm5.staticflickr.com/4120/4819252192_7591229ed0_b_d.jpg')">
                <a href='https://www.flickr.com/photos/duckiehunt/4819252192/in/dateposted/' target="_blank" >
                  <div class="carousel-caption d-none d-md-block" style='text-shadow: black 0.1em 0.1em 0.2em'>
                    <h3>Duck #1099</h3>
                    <p><a href='/view/location/715'>St. Peter's Basilica, Vatican City</a></p>
                  </div>
                </a>
                </div>
      
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </header>
      
      
          <!-- Page Content -->
          <div class="container">
      
            <h1 class="my-4">Welcome to Phippy and Friends!</h1>
      
            <!-- Marketing Icons Section -->
            <div class="row">
              <div class="col-lg-4 mb-4">
                <div class="card h-100">
                  <h4 class="card-header">Add Phippy or friend location</h4>
                  <div class="card-body">
                    <p class="card-text">If you found, or were given a Phippy or friend, and would like to mark it's new location, you can do so here.</p>
                  </div>
                  <div class="card-footer">
                    <a href="/mark" class="btn btn-primary">Add a Location</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 mb-4">
                <div class="card h-100">
                  <h4 class="card-header">History of Phippy and Friends</h4>
                  <div class="card-body">
                    <p class="card-text">
                        Phippy and Friends was forked from Duckiehunt.com (find out about more here)
                    </p>
                  </div>
                  <div class="card-footer">
                    <a href="/faq" class="btn btn-primary">Learn More</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 mb-4">
                <div class="card h-100">
                  <h4 class="card-header">Phippy Browser</h4>
                  <div class="card-body">
                    <p class="card-text">If you want to see locations and pictures added by the community, start here.</p>
                  </div>
                  <div class="card-footer">
                    <a href="/toy" class="btn btn-primary">View an added Toy</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.row -->
      
            <hr>
      
      
          </div>
          <!-- /.container -->
{% include "./view/map.html" %}

{% endblock %}