{% extends "../base.html" %}

{% block content %}

<!-- Page Content -->
    <header>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item active">
                  <div id="map"></div>
                </div>
                <!-- Slide Two - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('https://lh3.googleusercontent.com/0AVO0tjrm0dMNNPpX6ypFKGbK9vFlUXapYFOxYvnJuVu7TTCuH2gz3yy-mK793ELn0HuHAvlzGuUCIjZO6kGMxSNr3em_JjKZty0tA9TIsJs3lamzmWEz1X4ehSHWMRW-YwdA3HAR_5Fhj2EPNyWfFWa5Skwb-pbvE9le1zjsi-eaMxC5xWi3Z43Ch-pTNsNZSZ3cuwZd6OS98VoO3QTwCo3Ip1TqBz0ha4IXLM8p7KbnZJkGuxlXokAO51jY8F617EHxghYXTxJSHwtFLY6ezSXfKOboyRfCpcHnMyfoMdIZ8REgNXTHAhn_R3BY7zUx0GpcC6_8Z8l8p53pp9pI4OFntOf9s0uDDkaak1s2F0o5DCjzpje1JEhWW3OTlOKzHgpjVtHgI8PsiJ84wKPL2swKF9OmjIzNjEx3kZAitmcLh_7vbCreVlxyEprNOGwhjFj60V2sm3eEURfmm7bevu3YWZfGGTe0urxWyGIzN92lN09iAXjWIkWZ2-TvvA_6Fe9UbVN6bKc9PkTi78DHpmbQCyXnoMcTKCMgS1zIKR7nNouy4VvndACwbYFFh98wQcDIIlUig_YTksv8QOzyKgbkiMSqoFHLTiAGyydF3tanyWNgOnGchURLP8dJ65-S0JFEWLL0k-_xKrkMXDKFQSU4KZKVgv_V8a7Y9H2Tnh21u8MKl0zAZAswA2z9VvYsxi_4Tdev7EKFCzL76k=w2078-h1558-no')">
                  <div class="carousel-caption d-none d-md-block" style='text-shadow: black 0.1em 0.1em 0.2em'>
                    <a href='https://photos.google.com/share/AF1QipMf_UKpoACAKWyhz3vYvaQQSR63FRSpSnws6CuKrE-eXbYSkWJt1vFN65eJGFj6UA/photo/AF1QipMiNN7lufnsGfT5WTpvnZQb82I6A--NaeD8Rjx2?key=cGNValhXOWRMSjNrcUkyNzBrakRzWFVLM1JGVGxn' target="_blank" >
                      <h3>Brendan's Phippy</h3>
                    </a>
                    <p><a href='/view/location/3'>Washington State Convention Center</a></p>
                  </div>
                </a>
                </div>
                <!-- Slide Three -->
                <div class="carousel-item" style="background-image: url('https://lh3.googleusercontent.com/bk04PRMsGrf2eN-732UX8khRpd_uUAJ6nv9IOxq0K6Tcp7dHPnnfOySytPxQXbAsRmDhA5Y_sV3hDEaiqCr3nUjDMnhcX6SgxQJFVGfPTjntO_Ngv4CsxVesV7sxzaDyCKM78qZ0EiVE9xPuEQrtDpPreHd59UeM6bXdddLoiu2Xah-ND_LsO9cLAH19ntU4ebTD56pegrNYz-axZXzRh_akMTI-TDBoxb4u9RHHwbuXbg8Ev039iPuuxS3HO-1EuOQtLhwPZljf36oUDxFaeuOz1mAGrJjEPYc9KDDA4MKTbvfpAVTADbZHHDiO4Ml-Q7cfbRGrkkuF-Z9zlb2TmCCHqBLkO_U1gpAMGRjgoP9SlqrxzJXamexKahy511wDvFu_h1vqWRokylccQ90YKLsqhn3ARkjHF3yDscW3gkdxo_2M-RHxxNI7WyreQRegs9In9OONsBt0-mxsTbcsWNn5A0-B5MMvwFEBmfJG7kt2G5kMj1xchBOWWW9vz-HJyVwIsGL6no5eTII4IwjXOhiw3NaR3bqVkgb72dfGBnumJo2GakhM0R7ded737Yzbtmb9jeo-oON0tIhMApu00pmHKLFEgSLgQtfcLjPpIJy2VRDFecucPyy2A-yAgzQJOI5coyjZbPB1LJmJbIyPrNT8xLn1UDVf2lrM1t3849pLICzKxjpn5B30I1u8n7Q_IexwChLYTpbXs9rHwBg=w2078-h1558-no')">
                  <div class="carousel-caption d-none d-md-block" style='text-shadow: black 0.1em 0.1em 0.2em'>
                    <a href='https://photos.google.com/share/AF1QipMf_UKpoACAKWyhz3vYvaQQSR63FRSpSnws6CuKrE-eXbYSkWJt1vFN65eJGFj6UA/photo/AF1QipN4WsFsS3TfOMoWToXhX9PJG9OJNaADvhfA3X6G?key=cGNValhXOWRMSjNrcUkyNzBrakRzWFVLM1JGVGxn' target="_blank" >
                      <h3>Brendan's Phippy</h3>
                    </a>
                    <p><a href='/view/location/4'>Living Computer Museum, Seattle</a></p>
                  </div>
                </a>
                </div>
      
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </header>
      
      
          <!-- Page Content -->
          <div class="container">
      
            <h1 class="my-4">Welcome to Phippy and Friends!</h1>
      
            <!-- Marketing Icons Section -->
            <div class="row">
              <div class="col-lg-4 mb-4">
                <div class="card h-100">
                  <h4 class="card-header">Add Phippy or friend location</h4>
                  <div class="card-body">
                    <p class="card-text">If you found, or were given a Phippy or friend, and would like to mark it's new location, you can do so here.</p>
                  </div>
                  <div class="card-footer">
                    <a href="/mark" class="btn btn-primary">Add a Location</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 mb-4">
                <div class="card h-100">
                  <h4 class="card-header">History of Phippy and Friends</h4>
                  <div class="card-body">
                    <p class="card-text">
                        Phippy and Friends was forked from Duckiehunt.com (find out about more here)
                    </p>
                  </div>
                  <div class="card-footer">
                    <a href="/faq" class="btn btn-primary">Learn More</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 mb-4">
                <div class="card h-100">
                  <h4 class="card-header">Phippy Browser</h4>
                  <div class="card-body">
                    <p class="card-text">If you want to see locations and pictures added by the community, start here.</p>
                  </div>
                  <div class="card-footer">
                    <a href="/toy" class="btn btn-primary">View an added Toy</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.row -->
      
            <hr>
      
      
          </div>
          <!-- /.container -->
{% include "./view/map.html" %}

{% endblock %}